fastapi
uvicorn
langchain
faiss-cpu
pypdf
python-docx
requests
tiktoken
docx2txt
faiss-cpu
sentence-transformers
transformers
torch
groq
pymupdf
httpx
numpy
pandas
tiktoken
openai
duckduckgo-search
rank-bm25
orjson
python-multipart
python-dotenv
pydantic
langchain
langchain-core
langchain-community
langchain-text-splitters
langgraph
biopython
gtts
pydub
reportlab
bibtexparser